
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Flex:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
        color: whitesmoke;
}

.cardDesign{
       
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
        background: #212428;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #212428, #202327);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #212428, #202327); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        transition-duration: 500ms;

}

.cardDesign:hover{
 transition-duration: 500ms;
 background: linear-gradient(to bottom, black, #1e2024);
 transform: translateY(-20px); 
 /* cursor: pointer; */
}
/* // bg-gradient-to-r from-bodyColor to-[#202327] group hover:bg-gradient-to-b
// hover:from-black hover:to-[#1e2024] transition-colors duration-100 */

/* w-16 h-16 bg-black, bg-opacity-25 text-gray-200 text-xl inline-flex
        items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 
        hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer 
        duration-300; */
.projectCard{
        transition-duration: 1000ms;
}
.projectCard:hover{
        transition-duration:1000ms;
        background: linear-gradient(to bottom, #180b32, #1e2024);
}

@layer components{
        .resumeLi{
                @apply w-full h-12 xl:h-16  bg-black bg-opacity-25 text-xl items-center
                flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 border-[1px]
                rounded-none;
        }

        .bgOpacity{
                @apply bg-black bg-opacity-40;
        }

        

       
}

.scrollbar-hide::-webkit-scrollbar{
        display: none;
       
}



.bannerIcon{
        width: 40px;
        height: 40px;
        /* opacity: .5; */
        background-color: rgba(0, 0, 0, 0.511);
        color: white;
        font-size:x-large;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
     
     
     }
     
     
     .bannerIcon:hover{
         opacity: 1;
         transform: translateY(1);
         transition: all 300;
         color: rgb(255, 145, 0);
         cursor: pointer;
         
     
     }

     